$primery_color: white; 
$header_links_color: #464343;
$header_background: rgb(23, 137, 194); 
$dropDownMenu_color: rgba(210, 215, 218, 0.096);
$btnBuyPC: rgb(85, 169, 82);
$component_background: white;
$bodyColor: #e0e0e0;
$backdrond_table: #F3F3F3;
$backgraund_color_buy: #494747;
$color_cart_items: rgb(199, 194, 194);
$border: #46434357;

// infoPageProduct
$borderInfoProduct: rgba(128, 128, 128, 0.507);
$colorTextInfoProduct: rgb(128, 128, 128);

$footer_color: black;   


